*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
.item-done{
    text-decoration: line-through;
}
/* end utility */

h1{
    text-align: center;
    margin: 20px;
    font-family: sans-serif;
    font-size: 40px;
}
.list-container{
    padding: 40px;
    border-radius: 10px;
    background: #f5f6f7;
    max-width: 1200px;
    margin: 20px auto;
}
ul{
    list-style: none;
}
li{
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.add-item-area{
    text-align: center;
    padding: 30px;
}
.add-item-area input{
    height: 30px;
    padding: 10px 15px;
    border-radius: 10px;
}
.add-item-area button{
    background: teal;
    height: 30px;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    border-color: teal;
}
.check-simbol{
    color: teal
}